*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: lightcoral;
}

.bookCard{
    
}

.bookTitle {

}

.reservBtn {

}

.bookLang {

}

.bookAuth {

}

.bookGenre {

}

.modalDisplay {
    
}